{% extends 'administracion/index.html' %}

{% load static %}

{% block h1 %}Categorias Generales{% endblock h1 %}


{% block head %}
    
{% endblock head %}
    
{% block content %}

    
        
     
    <!-- Dropdown Card Example -->
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div
            class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Categorias</h6>
            <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                    aria-labelledby="dropdownMenuLink">
                    <div class="dropdown-header">Opciones:</div>
                    <a class="dropdown-item" href="{%  url 'inventario:categoria_nueva' %}">Nueva categoria</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        </div>
        <!-- Card Body -->
        
        <div class="card-body">

        {% if not obj %}
            <div class="alert alert-info">No hay Categorías</div>
        {% else %}
            <div class="table-responsive"> 
                <table class="table table-striped table-hover table-borderer" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Estado</th>

                        <th class="all">Acciones</th>
                    </thead>
                    <tbody>
                        
                        {% for item in obj  %}
                            <tr>
                                <td>{{ item.id }}</td>
                                <td>{{ item.nombre }}</td>
                                <td>{{ item.activo|yesno:"Activo, Inactivo" }}</td>
                                
                                <td>
                                    <a href="{% url 'inventario:categoria_editar' item.id %}" class="btn btn-warning btn-circle" role="button" title="Editar"> <i class="far fa-edit"></i> </a>
                                    <a href="{% url 'inventario:categoria_eliminar' item.id %}" class="btn btn-danger btn-circle" role="button" title="Eliminar"> <i class="far fa-trash-alt"></i> </a>
                                </td>
                            </tr>
                            
                        {% endfor %}
                            
                    </tbody>
                </table>
            </div>
        {% endif %}
        </div>
    </div>
    
   
  
{% endblock content %}


{% block javascript %}
    <script>
        $(document).ready(function() {
            $('#dataTable').DataTable({
                language: {
                    "decimal": ",",
                    "thousands": ".",
                    "lengthMenu": "Mostrar _MENU_ registros",
                    "zeroRecords": "No se encontraron resultados",
                    "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sSearch": "Buscar:",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast":"Último",
                        "sNext":"Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "sProcessing":"Cargando..."
                }
            });
            
        });

    </script>
{% endblock javascript %}
    